/*LG Device (desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
  /* --------login page---------  */
  .note {
    font-size: 15px;
    padding: 0 50px;
  }
  /* --------bank page---------  */
  .item h4 {
    font-size: 26px;
  }
}
/*MD devcie (Tablets)*/
@media (min-width: 768px) and (max-width: 991px) {
  /* --------bank page---------  */
  .sectiont-title h2 {
    font-size: 42px;
  }
  .item {
    padding: 40px;
  }
  .item h4 {
    font-size: 25px;
  }
  .account-details {
    flex-wrap: wrap;
  }
  .account-details input {
    width: 240px;
  }
  .account-details h3 {
    font-size: 28px;
  }
}
/*SM Device (Phone)*/
@media (min-width: 576px) and (max-width: 767px) {
  /* --------login page---------  */
  .slider-title h3 {
    font-size: 25px;
  }
  .slider-title h2 {
    font-size: 32px;
  }
  .user-input input {
    height: 33px;
    width: 225px;
  }
  #login-btn {
    width: 225px;
  }
  /* --------bank page---------  */
  .account-details {
    flex-wrap: wrap;
  }
  .item {
    padding: 35px;
    margin-bottom: 30px;
  }
}
/*Extra SM*/
@media (max-width: 575px) {
  /* --------Login page---------  */
  .slider-title h3 {
    font-size: 14px;
  }
  .slider-title h2 {
    font-size: 23px;
  }
  .user-input input {
    height: 25px;
    width: 130px;
  }
  #login-btn {
    width: 130px;
    padding: 2px 0;
  }
  .note {
    font-size: 13px;
    padding: 0px 5px;
  }
  /* --------bank page---------  */
  .account-details {
    flex-wrap: wrap;
  }
  .sectiont-title h2 {
    font-size: 34px;
  }
  .item {
    padding: 25px;
    margin-bottom: 25px;
  }
  .account-details input {
    width: 240px;
  }
  .account-details h3 {
    font-size: 28px;
  }
}
